body {
  margin: 0;
  height: 100%;
  width: 100%;
}
.container {
  height: 100%;
  width: 100%;
}

#city-input {
  margin-inline-start: 25%;
  width: 50%;
  padding: 0.05%;
}

#lat-input {
  width: 20%;
  margin-left: 25%;
}

#long-input {
  width: 20%;
  margin-inline-start: 9%;
}

.buttons {
  width: 5%;
  margin-inline-start: 47%;
  margin-top: 1%;
}

#weather-div {
  width: 100%;
  height: auto;
  margin-top: 2.5%;
}
